body{
  background-image: url(calculator.jpg);
  background-size: 100%;
text-align: center;
font-size: 35px;
}
.div h1{
text-align: center;
}
#calculator{
  border: 2px solid black;
  border-radius:5px ; 
  width: 200px;

 
  
}
#display {
  margin: 12px;
  width: 85%;
font-size: 25px;

}
.button-container{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;

}

.button{
  width: 45px;
  height: 45px;
  margin: 3px;
 
}
